## editors
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/package-lock.json

## temp folders
/.tmp/

## built files
# /dist
/service-worker.js

/tests/screenshots/current/error
/tests/screenshots/current/narrow
/tests/screenshots/current/wide
