html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ededed;
}

body {
  margin: 0;
  /* This is a font-stack that tries to use the system-default sans-serifs first */
  font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #ccc;
  text-decoration: none;
}

article a,
article a:link,
article a:visited {
  color: #000;
  text-decoration: none;
}

article a:hover, a:hover {
  text-decoration: underline;
}

h2 {
  color: #ddd;
}

article h2 {
  color: #333;
  font-size: smaller;
}

ul {
  list-style-type: none;
  padding: 0 1rem 0 1rem;
}

ul li ul li {
  list-style-type: disc;
  margin-left: 0.5rem;
}

article {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 80%;
}

article hr {
  clear: both;
  display: block;
}

article img {
  height: auto;
  max-width: 100%;
  width: auto;
}

article pre {
  overflow: auto;
}

article .gallery {
  display: flex;
}

#app-drawer-children {
  background-color: #111111;
  color: #cccccc;
  height: 100%;
  overflow: auto;
}

h1 {
  font-size: var(--h1-font-size, inherit);
}

x-postpress {
  --article-gallery-display: flex;
  --article-gallery-item-flex: auto;
  --article-gallery-item-margin: 0;
  --h1-font-size: 1.5rem;
  --img-padding-top: 2rem;
  --ul-list-style-type: none;
}
