<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>x-postpress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../../node_modules/chai/chai.js"></script>
    <script src="../../../node_modules/mocha/mocha.js"></script>
    <script src="../../../node_modules/wct-mocha/wct-mocha.js"></script>
    <script src="../../../node_modules/fetch-mock/dist/es5/client-bundle.js"></script>
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <x-postpress apiHost="https://content.example.com" include="1"></x-postpress>
      </template>
    </test-fixture>

    <test-fixture id="error">
      <template>
        <x-postpress></x-postpress>
      </template>
    </test-fixture>

    <script type="module">
      import '../../../src/components/x-postpress.js'
      import '@polymer/test-fixture'
      import posts from '../../fixtures/posts/esm.js'

      describe('x-postpress basic tests', () => {
        before(() => fetchMock.get('https://content.example.com/wp-json/wp/v2/posts?include=1', posts))
        after(() => fetchMock.restore())

        it('has the tagName property set correctly', () => {
          const xPostpress = fixture('basic')

          xPostpress.updateComplete.then(() => {
            assert.equal(xPostpress.tagName, 'X-POSTPRESS')
          })
        })

        it('has header tag with "Example!" text after five seconds, when include attribute is specified and resolves', () => new Promise((res, rej) => {
          const xPostpress = fixture('basic')

          xPostpress.updateComplete.then(() => {
            setInterval(() => {
              const firstArticle = xPostpress.shadowRoot.querySelector('article')
              const firstChild = firstArticle.children[0]

              assert.equal(firstChild.tagName, 'H1')
              assert.equal(firstChild.innerText, 'Example!')

              res()
            }, 5000)
          })
        }))
      })

      describe('x-postpress error tests', () => {
        it('has header tag with "Error" text after five seconds, without specified attributes', () => new Promise((res, rej) => {
          const xPostpress = fixture('error')

          xPostpress.updateComplete.then(() => {
            setInterval(() => {
              const firstArticle = xPostpress.shadowRoot.querySelector('article')
              const firstChild = firstArticle.children[0]

              assert.equal(firstChild.tagName, 'H1')
              assert.equal(firstChild.innerText, 'Error')

              res()
            }, 5000)
          })
        }))
      })
    </script>
  </body>
</html>
