<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>x-postpress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../../node_modules/chai/chai.js"></script>
    <script src="../../../node_modules/mocha/mocha.js"></script>
    <script src="../../../node_modules/wct-mocha/wct-mocha.js"></script>
    <script src="../../../node_modules/fetch-mock/dist/es5/client-bundle.js"></script>
  </head>
  <body>
    <test-fixture id="error">
      <template>
        <x-postpress apiHost="https://nonApi.example.com"></x-postpress>
      </template>
    </test-fixture>

    <script type="module">
      import '../../../src/components/x-postpress.js'
      import '@polymer/test-fixture'

      describe('x-postpress error tests', () => {
        before(() => fetchMock.get('https://nonapi.example.com/wp-json/wp/v2/posts', 400))

        it('has header tag with "Error" text after five seconds, with nonApi domain', () => new Promise((res, rej) => {
          const xPostpress = fixture('error')

          xPostpress.updateComplete.then(() => {
            const firstArticle = xPostpress.shadowRoot.querySelector('article')
            const firstChild = firstArticle.children[0]

            setInterval(() => {
              assert.equal(firstChild.tagName, 'H1')
              assert.equal(firstChild.innerText, 'Error')

              res()
            }, 5000)
          })
        }))

        after(() => fetchMock.restore())
      })
    </script>
  </body>
</html>
